<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Real Villa - Real Estate HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Villa - Real Estate HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,600,700%7CRoboto:300,400,500,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins-->
    <link rel="stylesheet" href="css/select2/select2.css" />
    <link rel="stylesheet" href="css/range-slider/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />

  </head>

<body>

<!--=================================
header -->
<header class="header">
  <div class="topbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="d-block d-md-flex align-items-center text-center">
            <div class="mr-3 d-inline-block">
              <a href="tel:((+212)-6785435)"><i class="fa fa-phone mr-2 fa fa-flip-horizontal"></i>(+212)-6785435</a>
            </div>
            <div class="mr-auto d-inline-block">
              <span class="mr-2 text-white">Get App:</span>
              <a class="pr-1" href="#"><i class="fab fa-android"></i></a>
              <a href="#"><i class="fab fa-apple"></i></a>
            </div>
            <div class="social d-inline-block">
              <ul class="list-unstyled">
                <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                <li><a href="#"> <i class="fab fa-linkedin"></i> </a></li>
                <li><a href="#"> <i class="fab fa-pinterest"></i> </a></li>
                <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
              </ul>
            </div>
            <div class="login d-inline-block">
              <a data-toggle="modal" data-target="#loginModal" href="#">Hello sign in<i class="fa fa-user pl-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-static-top  header-sticky">
        <div class="container-fluid">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
          <a class="navbar-brand" href="index.html">
            <img class="img-fluid" src="images/logo.svg" alt="logo">
          </a>
          <div class="navbar-collapse collapse">
            <!-- Menu -->
            <ul class="nav navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Welcome Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Listing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
            <!-- Button Listings -->
            <div class="p-2">
              <a class="btn btn-primary p-2" href="submit-property.html"> <i class="fa fa-plus-circle"></i>Add listing </a>
            </div>
          </div>
        </div>
    </nav>
</header>
<!--=================================
header -->

<!--=================================
Modal login -->
<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <!-- ============================== Login ============================== -->
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form class="form-row mt-4 align-items-center">
              <div class="form-group col-sm-12">
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group col-sm-12">
                <input type="Password" class="form-control" placeholder="Password">
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                  <li class="mr-1"><a href="#"><b><a href="#register">You don't have an acoount? Click here to register</a></b></a></li>
                </ul>
              </div>
            </form>
            <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded">
              <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
              <form class="row">
                <div class="col-sm-6">
                  <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                </div>
                <div class="col-sm-6">
                  <a class="btn google-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-google"></i>Login with Google</span></a>
                </div>
              </form>
            </div>
          </div>

          <!-- ============================== Register ============================== -->
          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form class="form-row mt-4 mb-5 align-items-center">
              <div class="roles form-group d-flex justify-content-center col-sm-12">
                <div class="r1">
                  <label for="Personal">Personal</label> <input type="radio" name="AccountType" id="Personal" checked class="">
                </div>
                <div class="r2">
                  <input type="radio" name="AccountType" id="Professional" class=""> <label for="Professional">Professional</label>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" placeholder="LastName">
              </div>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" placeholder="NickName">
              </div>
              <div class="form-group col-sm-12">
                <input type="email" class="form-control" placeholder="Email Address">
              </div>
              
              <div class="form-group col-sm-12">
                <input type="text" class="form-control" placeholder="Adress">
              </div>
              <div class="form-group col-sm-12">
                <input type="text" class="form-control" placeholder="City">
              </div>
              <div class="form-group col-sm-6">
                <input type="Password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group col-sm-6">
                <input type="Password" class="form-control" placeholder="Confirm Password">
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                  <li class="mr-1"><a href="#"><b><a href="#login"><a href="#register">Already Registered User? Click here to login</a></a></b></a></li>
                </ul>
              </div>
            </form>
            <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded">
              <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
              <form class="row">
                <div class="col-sm-6">
                  <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                </div>
                <div class="col-sm-6">
                  <a class="btn google-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-google"></i>Login with Google</span></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
  Modal login -->

<!--=================================
banner -->
<section class="banner-bg-video bg-holder bg-overlay-black-30" data-jarallax='{"speed": 0.6}' 
        data-jarallax-video="https://www.youtube.com/embed/kacyaEXqVhs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white text-center mb-2">Discover A Place You’ll Love To Live</h1>
        <p class="lead text-center text-white mb-4 font-weight-normal">Take a step to realizing your dream. #TimeToMove</p>
        <div class="property-search-field bg-white">
          <div class="property-search-item">
            
            <form class="form-row basic-select-wrapper">
              <div class="form-group col-lg-2">
                <label>Property type</label>
                <select class="form-control basic-select">
                  <option>All Type</option>
                  <option>Villa</option>
                  <option>Floor Aria</option>
                  <option>Agricultural Land</option>
                  <option>Office</option>
                  <option>Residential</option>
                  <option>Shop</option>
                  <option>Apartment</option>
                  <option>Studio</option>
                  <option>Industrial</option>
                </select>
              </div>

              <div class="form-group col-lg-2">
                <label>Status</label>
                <select class="form-control basic-select">
                  <option>For Rent</option>
                  <option>For Sale</option>
                </select>
              </div>

              <div class="form-group col-lg-2">
                <label>Location</label>
                <select class="form-control basic-select">
                  <option>Marrakech</option>
                  <option>Rabat</option>
                  <option>Tanger</option>
                </select>
              </div>

              <div class="form-group d-flex justify-content-center col-lg-3">
                <span class="d-none d-lg-block"><button class="btn btn-primary d-flex align-items-center" type="submit"><i class="fas fa-search mr-1"></i><span>Search</span></button></span>
              </div>

              <div class="form-group text-center col-lg-3">
                <div class="d-flex justify-content-center d-md-inline-block">
                  <a class="more-search p-0" data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false" aria-controls="advanced-search"> <span class="d-block pr-2 mb-1">Advanced search</span>
                  <i class="fas fa-angle-double-down"></i></a>
                </div>
              </div>
              <div class="collapse advanced-search" id="advanced-search">
                <div class="card card-body">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label>Bathrooms</label>
                      <select class="form-control basic-select">
                        <option>No max</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label>Bedrooms</label>
                      <select class="form-control basic-select">
                        <option>No max</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 property-price-slider ">
                      <label>Select Price Range</label>
                      <input type="text" id="property-price-slider" name="example_name" value="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-lg-none btn-block btn-mobile m-3">
                <button class="btn btn-primary btn-block align-items-center" type="submit"><i class="fas fa-search mr-1"></i><span>Search</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
banner -->

<!--=================================
Browse properties -->
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Browse by category</h2>
          <p>To browse and buy in your areas of interest, look for properties by category.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="category">
          <ul class="list-unstyled mb-0">
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-building-2"></i>
                </div>
                <h6 class="mb-0">Residential</h6>
                <span>(457)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-skyline"></i>
                </div>
                <h6 class="mb-0">Villa</h6>
                <span>(659)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-apartment"></i>
                </div>
                <h6 class="mb-0">Industrial</h6>
                <span>(298)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-apartment-1"></i>
                </div>
                <h6 class="mb-0">Apartment</h6>
                <span>(235)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-real-estate"></i>
                </div>
                <h6 class="mb-0">Agricultural Land</h6>
                <span>(478)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-building-1"></i>
                </div>
                <h6 class="mb-0">Studio</h6>
                <span>(698)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-building"></i>
                </div>
                <h6 class="mb-0">Office</h6>
                <span>(152)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-pin"></i>
                </div>
                <h6 class="mb-0">Floor area</h6>
                <span>(256)</span>
              </a>
            </li>
            <li class="category-item">
              <a href="property-list.html">
                <div class="category-icon">
                  <i class="flaticon-building-3"></i>
                </div>
                <h6 class="mb-0">Shop</h6>
                <span>(145)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Browse properties -->

<!--=================================
  Featured properties-->
<section class="space-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Newly listed properties</h2>
          <p>Find your dream home from our Newly added properties</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/01.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Villa</span>
              <span class="badge badge-md badge-warning">Sale </span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/01.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Mohamed Idar</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail.html">Awesome Villa Sophia</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>10 days ago</span>
              <div class="property-price">1 500.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>1</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>2</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>145m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/02.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Apartment</span>
              <span class="badge badge-md badge-warning">Sale </span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/02.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Reda Jayed</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
            
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail-style-01.html">Awesome family Apartment</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>2 months ago</span>
              <div class="property-price">3 260.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>2</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>3</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>215m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail-style-01.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/03.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Studio</span>
              <span class="badge badge-md badge-warning">Rent </span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/03.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Aicha Mohib</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail.html">LH Studio</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>6 months ago</span>
              <div class="property-price">$6 580.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>3</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>4</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>3,189m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/04.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Agricultural Land</span>
              <span class="badge badge-md badge-warning">Sale</span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/04.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Idriss Elhaj</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail-style-01.html">Benghazi Land</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>12 months ago</span>
              <div class="property-price">4 850.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>2</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>1</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>2,356m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail-style-01.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/05.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Office</span>
              <span class="badge badge-md badge-warning">Rent </span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/05.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Zineb Ibrahimi</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail.html">Opera Office</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>2 years ago</span>
              <div class="property-price">6 989.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>5</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>4</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>1,658m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="property-item">
          <div class="property-image bg-overlay-gradient-04">
            <img class="img-fluid" src="images/property/grid/06.jpg" alt="">
            <div class="property-lable">
              <span class="badge badge-md badge-primary">Studio</span>
              <span class="badge badge-md badge-warning">Sale </span>
            </div>
            <div class="property-agent">
              <div class="property-agent-image">
                <img class="img-fluid" src="images/avatar/06.jpg" alt="">
              </div>
              <div class="property-agent-info">
                <a class="property-agent-name" href="#">Laila Riyad</a>
                <span class="d-block">Company Agent</span>
                <ul class="property-agent-contact list-unstyled">
                  <li><a href="#"><i class="fas fa-mobile-alt"></i> </a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="property-detail.html">Abrami Studio</a></h5>
              <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i>3 years ago</span>
              <div class="property-price">23 000.00 MAD</div>
              <ul class="property-info list-unstyled d-flex">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>2</span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>2</span></li>
                <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>3,657m&sup2;</span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="property-detail.html">See Details</a>
              <ul class="property-listing-actions list-unstyled mb-0">
                <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-link" href="property-list.html"><i class="fas fa-plus"></i>View All Listings</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Featured properties-->

<!--=================================
offering the Best Real Estate-->
<section class="clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Discover our best deals</h2>
          <p>Check the listings of the best dealer on Real Villa and contact the agency or its agent by phone or contact form.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-nav-top-right" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
          <div class="item">
            <div class="property-offer">
              <div class="property-offer-item">
                <div class="property-offer-image bg-holder" style="background: url('images/property/big-img-01.jpg');">
                  <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                      <div class="property-details">
                        <div class="property-details-inner">
                          <h5 class="property-title"><a href="property-detail-style-01.html">Top Listing Title</a></h5>
                          <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
                          <span class="property-agent-date"><i class="far fa-clock fa-md"></i>10 days ago</span>
                          <p class="mb-0 d-block mt-3">Description listing</p>
                          <div class="property-price">150000.00 MAD</div>
                          <ul class="property-info list-unstyled d-flex">
                            <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>1</span></li>
                            <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>2</span></li>
                            <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>145m&sup2;</span></li>
                          </ul>
                        </div>
                        <div class="property-btn">
                          <a class="property-link" href="property-detail-style-01.html">See Details</a>
                          <ul class="property-listing-actions list-unstyled mb-0">
                            <li class="property-compare"><a data-toggle="tooltip" data-placement="top" title="Compare" href="#"><i class="fas fa-exchange-alt"></i></a></li>
                            <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property-offer">
              <div class="property-offer-item">
                <div class="property-offer-image bg-holder" style="background: url('images/property/big-img-02.jpg');">
                  <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                      <div class="property-details">
                        <div class="property-details-inner">
                          <h5 class="property-title"><a href="property-detail-style-01.html">Top Listing Title</a></h5>
                          <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Adress property here</span>
                          <span class="property-agent-date"><i class="far fa-clock fa-md"></i>2 years ago</span>
                          <p class="mb-0 d-block mt-3">Description listing</p>
                          <div class="property-price">69890.00 MAD</div>
                          <ul class="property-info list-unstyled d-flex">
                            <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>5</span></li>
                            <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>4</span></li>
                            <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>Area<span>1,658m&sup2;</span></li>
                          </ul>
                        </div>
                        <div class="property-btn">
                          <a class="property-link" href="property-detail-style-01.html">See Details</a>
                          <ul class="property-listing-actions list-unstyled mb-0">
                            <li class="property-compare"><a data-toggle="tooltip" data-placement="top" title="Compare" href="#"><i class="fas fa-exchange-alt"></i></a></li>
                            <li class="property-favourites"><a data-toggle="tooltip" data-placement="top" title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--=================================
  offering the Best Real Estate-->

<!--=================================
  Feature -->
<section class="space-ptb bg-holder-bottom building-space" style="background-image: url(images/building-bg.png);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <div class="section-title mb-0">
          <h2>Plenty of reasons to choose us</h2>
          <p>Our agency has many specialized areas, but our CUSTOMERS are our real specialty.</p>
        </div>
      </div>
      <div class="col-lg-3 text-lg-right">
        <a class="btn btn-primary" href="about-us.html">More about us </a>
      </div>
    </div>
    <div class="row no-gutters mt-4">
      <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon">
            <i class="flaticon-like"></i>
          </div>
          <div class="feature-info-content">
            <h6 class="mb-3 feature-info-title">Excellent reputation</h6>
            <p class="mb-0">Our comprehensive database of listings and market info give the most accurate view of the market and your home value.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon">
            <i class="flaticon-agent"></i>
          </div>
          <div class="feature-info-content">
            <h6 class="mb-3 feature-info-title">Best local agents</h6>
            <p class="mb-0">You are just minutes from joining with the best agents who are fired up about helping you Buy or sell.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon">
            <i class="flaticon-like-1"></i>
          </div>
          <div class="feature-info-content">
            <h6 class="mb-3 feature-info-title">Peace of mind</h6>
            <p class="mb-0">Rest guaranteed that your agent and their expert team are handling every detail of your transaction from start to end.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon">
            <i class="flaticon-house-1"></i>
          </div>
          <div class="feature-info-content">
            <h6 class="mb-3 feature-info-title">Tons of options</h6>
            <p class="mb-0">Discover a place you’ll love to live in. Choose from our vast inventory and choose your desired house.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-7 text-center">
        <p class="mb-4">Ten years and thousands of home buyers have turned to <q>Alpha Immobilier</q> to find their dream home. We offer a comprehensive list of for-sale properties, as well as the knowledge and tools to make informed real estate decisions. Today, more than ever, <q>Alpha Immobilier</q> is the home of home Search.</p>
      </div>
    </div>
  </div>
</section>
  <!--=================================
  Feature -->

<!--=================================
Meet our agent -->
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Meet our agents</h2>
          <p><q>Alpha Immobilier</q> Agents are customer advocates. We are accountable for helping clients buy and sell the right home, at the right price.</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
        <div class="agent text-center">
          <div class="agent-detail">
            <div class="agent-avatar avatar avatar-xllll">
              <img class="img-fluid rounded-circle" src="images/agent/01.jpg" alt="">
            </div>
            <div class="agent-info">
              <h6 class="mb-0"> <a href="agent-detail.html">Mohamed Alami</a></h6>
              <span class="text-primary font-sm">Agent</span>
              <p class="mt-3 mb-0">The first thing to remember about success is that it is a process – nothing more, nothing less.</p>
            </div>
          </div>
          <div class="agent-button">
            <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
        <div class="agent text-center">
          <div class="agent-detail">
            <div class="agent-avatar avatar avatar-xllll">
              <img class="img-fluid rounded-circle" src="images/agent/02.jpg" alt="">
            </div>
            <div class="agent-info">
              <h6 class="mb-0"> <a href="agent-detail.html">Soad Idrissi</a></h6>
              <span class="text-primary font-sm">Agent</span>
              <p class="mt-3 mb-0">There are basically six key areas to higher achievement. Some people will tell you there are four.</p>
            </div>
          </div>
          <div class="agent-button">
            <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
        <div class="agent text-center">
          <div class="agent-detail">
            <div class="agent-avatar avatar avatar-xllll">
              <img class="img-fluid rounded-circle" src="images/agent/03.jpg" alt="">
            </div>
            <div class="agent-info">
              <h6 class="mb-0"> <a href="agent-detail.html">Jamal Ibrahim</a></h6>
              <span class="text-primary font-sm">Agent</span>
              <p class="mt-3 mb-0">While others may tell you there are eight. One thing for certain though, is that irrespective of the.</p>
            </div>
          </div>
          <div class="agent-button">
            <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="agent text-center">
          <div class="agent-detail">
            <div class="agent-avatar avatar avatar-xllll">
              <img class="img-fluid rounded-circle" src="images/agent/04.jpg" alt="">
            </div>
            <div class="agent-info">
              <h6 class="mb-0"> <a href="agent-detail.html">Sara Ben salh</a></h6>
              <span class="text-primary font-sm">Agent</span>
              <p class="mt-3 mb-0">If success is a process with a number of defined steps, then it is just like any other process.</p>
            </div>
          </div>
          <div class="agent-button">
            <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Meet our agent -->

<!--=================================
Most popular places -->
<section class="space-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Most popular places</h2>
          <p>Discover homes in Real villa Most Popular Cities</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0">
            <a href="property-grid.html">
              <div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/01.jpg);">
                <div class="location-item-info">
                  <h5 class="location-item-title">Tanger</h5>
                  <span class="location-item-list">10 Properties</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <a href="property-grid.html">
              <div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/02.jpg);">
                <div class="location-item-info">
                  <h5 class="location-item-title">Casablanca</h5>
                  <span class="location-item-list">14 Properties</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-12 mt-0 mt-lg-4">
            <a href="property-grid.html">
              <div class="location-item bg-overlay-gradient bg-holder" style="background-image: url(images/location/04.jpg);">
                <div class="location-item-info">
                  <h5 class="location-item-title">Agadir</h5>
                  <span class="location-item-list">22 Properties</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <a href="property-grid.html">
          <div class="location-item location-item-big bg-overlay-gradient bg-holder" data-jarallax='{"speed": 0.6}' data-jarallax-video="https://www.youtube.com/embed/kacyaEXqVhs?showinfo=0&enablejsapi=1&origin=https://themes.potenzaglobalsolutions.com/html/real-villa/">
            <div class="location-item-info">
              <h5 class="location-item-title">Marrakech</h5>
              <span class="location-item-list">29 Properties</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Most popular places -->

<!--=================================
mobile app -->
<section class="space-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="section-title">
          <h2>Download our android and iOS app to get exciting features prime content</h2>
          <p>Our Real Estate app simplifies your home search. Spontaneously see nearby homes for sale, apartments for rent.</p>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="d-flex">
              <div class="mr-3">
                <i class="flaticon-rent font-xlll"></i>
              </div>
              <h6 class="text-primary">Real time property listing</h6>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="d-flex">
              <div class="mr-3">
                <i class="flaticon-contract font-xlll"></i>
              </div>
              <h6 class="text-primary">Budget filter for budget</h6>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="d-flex">
              <div class="mr-3">
                <i class="flaticon-notification font-xlll"></i>
              </div>
              <h6 class="text-primary">Notification price reduction</h6>
            </div>
          </div>
        </div>
        <div class="d-block d-sm-flex">
          <a class="btn btn-dark btn-sm btn-app mr-0 mr-sm-2 mb-2 mb-sm-0" href="#">
            <i class="fab fa-apple"></i>
            <div class="btn-text text-left">
              <small>Download on the </small>
              <span class="mb-0 text-white d-block">App store</span>
            </div>
          </a>
          <a class="btn btn-dark btn-sm btn-app mb-2 mb-sm-0" href="#">
            <i class="fab fa-google-play"></i>
            <div class="btn-text text-left">
              <small>Get in on </small>
              <span class="mb-0 text-white d-block">google play</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-5 mt-5 mt-lg-0 text-center">
        <img class="img-fluid" src="images/mobile-app.png" alt="">
      </div>
    </div>
  </div>
</section>
<!--=================================
mobile app -->

<!--=================================
call to action -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <h2 class="text-white mb-0">Looking to sell or rent your property?</h2>
      </div>
      <div class="col-lg-3 text-lg-right mt-3 mt-lg-0">
        <a class="btn btn-white" href="#">Get a free quote</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
call to action -->

<!--=================================
footer-->
<footer class="footer bg-dark space-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact-info">
          <h5 class="text-primary mb-4">About Alpha Immobilier</h5>
          <p class="text-white mb-4"><q>Alpha Immobilier</q> helped thousands of clients to find the right property for their needs.</p>
          <ul class="list-unstyled mb-0">
            <li> <b> <i class="fas fa-map-marker-alt"></i></b><span>Marrakech Rue Asfi Appartement 204</span> </li>
            <li> <b><i class="fas fa-microphone-alt"></i></b><span>(+212) 612345678</span> </li>
            <li> <b><i class="fas fa-headset"></i></b><span>support@alphaimmobilier.com</span> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary mb-4">Useful links</h5>
          <ul class="list-unstyled mb-0">
            <li> <a href="#">Properties </a> </li>
            <li> <a href="#">Contact Us </a> </li>
            <li> <a href="#">About Us</a> </li>
            <li> <a href="#">Services </a> </li>
            <li> <a href="#">Terms and Conditions </a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="footer-recent-List">
          <h5 class="text-primary mb-4">Recently listed properties</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <div class="footer-recent-list-item">
                <img class="img-fluid" src="images/property/list/01.jpg" alt="">
                <div class="footer-recent-list-item-info">
                  <h6 class="text-white"><a class="category font-md mb-2" href="#">Awesome family home</a></h6>
                  <a class="address mb-2 font-sm" href="#">Adress property here</a>
                  <span class="price text-white">3,456,235 MAD</span>
                </div>
              </div>
            </li>
            <li>
              <div class="footer-recent-list-item">
                <img class="img-fluid" src="images/property/list/02.jpg" alt="">
                <div class="footer-recent-list-item-info">
                  <h6 class="text-white"><a class="category font-md mb-2" href="#">Luxury villa</a></h6>
                  <a class="address mb-2 font-sm" href="#">Adress property here</a>
                  <span class="price text-white">1,265,456 MAD</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <h5 class="text-primary mb-4">Subscribe us</h5>
        <div class="footer-subscribe">
          <p class="text-white">Sign up to our newsletter to get the latest news and offers.</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Get notified</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-left">
          <a href="index.html"><img class="img-fluid footer-logo" src="images/logo-light.svg" alt=""> </a>
        </div>
        <div class="col-md-4 text-center my-3 mt-md-0 mb-md-0">
          <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-double-up"></i> </a>
        </div>
        <div class="col-md-4 text-center text-md-right">
          <p class="mb-0 text-white"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Alpha Immobilier </a> All Rights Reserved </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
footer-->

<!--=================================
Javascript -->

  <!-- JS Global Compulsory-->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>

  <!-- Page JS Implementing Plugins-->
  <script src="js/jquery.appear.js"></script>
  <script src="js/counter/jquery.countTo.js"></script>
  <script src="js/select2/select2.full.js"></script>
  <script src="js/range-slider/ion.rangeSlider.min.js"></script>
  <script src="js/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jarallax/jarallax.min.js"></script>
  <script src="js/jarallax/jarallax-video.min.js"></script>
  <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom Scripts-->
  <script src="js/custom.js"></script>

</body>
</html>
